{% extends "layout/layout.twig" %}
{% block title %}顧客検索{% endblock %}

{% block container %}
<h2 class="title">顧客検索</h2>
<form action="{{ basepath() }}/search" method="POST">
<table class="regster-form-table">
<tr>
    <th>社員番号</th>
    <td>
        <input type="text" name="number" value="{{ inputs.number }}" class="input-form"/>
    </td>
</tr>
<tr>
    <th>所属部署</th>
    <td>
        <select name="section_id">
            <option value="">選択してください</option>
        {% for section in sectionList %}
            <option value="{{ section.id }}"{% if inputs.section_id == section.id %} selected{% endif %}>{{ section.name }}</option>
        {% endfor %}
        </select>
    </td>
</tr>
</table>
<br />
<input type="hidden" name="token" value="{{ token }}">
<button type="submit" name="search-button" class="button-form">検索</button>
</form>

{% if searchList is not empty %}
<br />
{{ include('user-register/pagenate/pagenate.twig', { 'pagenate': pagenate }) }}
<table class="regster-form-table">
    <tr>
        <th style="width: 15%">社員番号</th>
        <th style="width: 20%">名前</th>
        <th style="width: 10%">性別</th>
        <th style="width: 30%">所属部門</th>
        <th style="width: 15%">ステータス</th>
        <th></th>
    </tr>
{% for list in searchList %}
    {% if status_func.isDisable(list.status) %}
    <tr style="background-color: #999999">
    {% else %}
    <tr>
    {% endif %}
        <td><a href="{{ basepath() }}/user/{{ list.number }}" target="_blank">{{ list.number }}</a></td>
        <td>{{ list.family_name }} {{ list.last_name }}</td>
        <td>{{ sex_func.getSexText(list.sex) }}</td>
        <td>{{ section_text(list.section_id, sectionList) }}</td>
        <td>{{ status_func.getStatusText(list.status) }}</td>
        <td>
            <form action="{{ basepath() }}/update" method="POST">
                <input type="hidden" name="number" value="{{ list.number }}">
                <button type="submit" name="update-button-form" class="update-button-form">更新</button>
            </form>
        </td>
    </tr>
{% endfor %}
</table>
{{ include('user-register/pagenate/pagenate.twig', { 'pagenate': pagenate }) }}
{% endif %}

{% endblock %}

